<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/LemonFan-maker/Arcaea" target="_blank">Arcaea</a></span>
    </div>
</footer>
